@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@font-face {
  font-family: "cheri";
  src: url(./cheri.TTF);
}

* {
  padding: 0;
  margin: 0;
}

.header {
  height: 60px;
  border: 1px solid #ecf1f6;
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-decoration: none;
  font-family: "cheri";
  font-display: swap;
  color: chocolate;
  padding-left: 10px;
  padding-top: 50px;
  font-size: 30px;
  margin-top: 50px;
  letter-spacing: 1px;
}

.logo-wrap {
  margin-top: 10px;
}

.logo span:hover {
  color: hotpink;
  transition: color 1s ease-in;
}

.logo span {
  transition: color 1s ease;
}

.search input {
  height: 40px;
  width: 400px;
  display: flex;
  background-color: #f3f6f9;
  border-radius: 4px;
  padding: 0 10px;
  outline: none;
  border: 1px solid #f3f6f9;
  font-size: 15px;
  position: relative;
}

.search input:focus {
  border: 1px solid #ecf1f6;
}

.btn {
  display: flex;
  align-items: center;
  height: 40px;
  border: 1px solid #ecf1f6;
  border-radius: 4px;
  padding: 0 15px;
  margin-right: 10px;
  background-color: chocolate;
  transition: background-color 1s ease-in;
  text-decoration: none;
  outline: none;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #ecf1f6;
  cursor: pointer;
}

.userbox button:hover {
  background-color: hotpink;
  transition: background-color 1s ease-in;
}

.main aside.sidebar {
  width: 200px;
  height: 100vh;
  padding: 10px 0 0 10px;
  position: fixed;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ecf1f6;
}

.main aside.sidebar ul li {
  list-style: none;
  margin-bottom: 15px;
}

.main aside.sidebar ul li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 9px 12px;
  height: auto;
  transition: color 1s ease-in;
  font-family: "Montserrat", sans-serif;
  border-radius: 4px;
  box-shadow: 3px 0 0 0 #ecf1f6 inset;
}

.main aside.sidebar ul li a:hover {
  background-color: #f3f6f9;
  background-position: -40px;
  transition: background-position 1s;
  
 
}
.main aside.sidebar ul li span.text {
  font-size: 16px;
  color: #32445a;
  text-decoration: none;
}
a.home {
  background-image: url(./home.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 30px;
  background-position: calc(100% - 10px);
}

a.about {
  background-image: url(./card.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 30px;
  background-position: calc(100% - 10px);
}
a.modul {
  background-image: url(./modules.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 30px;
  background-position: calc(100% - 10px);
}
a.contact {
  background-image: url(./contact.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 30px;
  background-position: calc(100% - 10px);
}
